
  24

  ul.nav li a, ul.nav li a:visited {
      color: white   !important;
  }
  
  ul.nav li a:hover, ul.nav li a:active {
      color: white !important;
  }
  
  ul.nav li.active a {
      color: white !important;
  }
  
  
  
  .formMessage {
      height: 40px;
      font-size: 75%;
      font-weight: bold;
      vertical-align: middle;
      line-height: 40px; 
  }